<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="68fb65">  <td>14/12/25 10:08:49</td>   <td>0</td> <td title="&gt;&gt;LoginSCMbase.checkSuiteToRun()[pri:0, instance:com.stta.SuiteSCM.CaseSCMCreateItem@a9aa83]">&gt;&gt;checkSuiteToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1645122</td>   <td></td> </tr>
<tr bgcolor="95978d">  <td>14/12/25 10:08:49</td>   <td>526</td> <td>&nbsp;</td><td title="&gt;&gt;CaseSCMCreateItem.checkCaseToRun()[pri:0, instance:com.stta.SuiteSCM.CaseSCMCreateItem@a9aa83]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1645122</td>   <td></td> </tr>
<tr bgcolor="95978d">  <td>14/12/25 10:08:49</td>   <td>556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CaseSCMCreateItem.CaseSCMCreateItemTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteSCM.CaseSCMCreateItem@a9aa83]">CaseSCMCreateItemTest</td> 
  <td>main@1645122</td>   <td></td> </tr>
<tr bgcolor="95978d">  <td>14/12/25 10:09:32</td>   <td>43129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CaseSCMCreateItem.reporterDataResults()[pri:0, instance:com.stta.SuiteSCM.CaseSCMCreateItem@a9aa83]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@1645122</td>   <td></td> </tr>
<tr bgcolor="95978d">  <td>14/12/25 10:09:32</td>   <td>43129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CaseSCMCreateItem.CaseSCMCreateItemTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteSCM.CaseSCMCreateItem@a9aa83]">CaseSCMCreateItemTest</td> 
  <td>main@1645122</td>   <td></td> </tr>
<tr bgcolor="95978d">  <td>14/12/25 10:09:48</td>   <td>58923</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CaseSCMCreateItem.reporterDataResults()[pri:0, instance:com.stta.SuiteSCM.CaseSCMCreateItem@a9aa83]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@1645122</td>   <td></td> </tr>
<tr bgcolor="95978d">  <td>14/12/25 10:09:48</td>   <td>58925</td> <td>&nbsp;</td><td title="&lt;&lt;CaseSCMCreateItem.closeBrowser()[pri:0, instance:com.stta.SuiteSCM.CaseSCMCreateItem@a9aa83]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1645122</td>   <td></td> </tr>
</table>
