<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuiteSCM</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90696e">  <td>15/05/22 09:13:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteSCMCaseOne.SuiteOneCaseOneTest(java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteSCM.SuiteSCMCaseOne@298508]">SuiteOneCaseOneTest</td> 
  <td>main@25997031</td>   <td></td> </tr>
<tr bgcolor="90696e">  <td>15/05/22 09:14:05</td>   <td>50943</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteSCMCaseOne.SuiteOneCaseOneTest(java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteSCM.SuiteSCMCaseOne@298508]">SuiteOneCaseOneTest</td> 
  <td>main@25997031</td>   <td></td> </tr>
<tr bgcolor="90696e">  <td>15/05/22 09:14:55</td>   <td>100349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteSCMCaseOne.SuiteOneCaseOneTest(java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteSCM.SuiteSCMCaseOne@298508]">SuiteOneCaseOneTest</td> 
  <td>main@25997031</td>   <td></td> </tr>
<tr bgcolor="90696e">  <td>15/05/22 09:13:14</td>   <td>-31</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteSCMCaseOne.checkCaseToRun()[pri:0, instance:com.stta.SuiteSCM.SuiteSCMCaseOne@298508]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25997031</td>   <td></td> </tr>
<tr bgcolor="a46697">  <td>15/05/22 09:13:14</td>   <td>-517</td> <td title="&gt;&gt;LoginSCMbase.checkSuiteToRun()[pri:0, instance:com.stta.SuiteSCM.SuiteSCMCaseOne@298508]">&gt;&gt;checkSuiteToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25997031</td>   <td></td> </tr>
<tr bgcolor="90696e">  <td>15/05/22 09:15:43</td>   <td>149150</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteSCMCaseOne.closeBrowser()[pri:0, instance:com.stta.SuiteSCM.SuiteSCMCaseOne@298508]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25997031</td>   <td></td> </tr>
<tr bgcolor="90696e">  <td>15/05/22 09:14:05</td>   <td>50870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteSCMCaseOne.reporterDataResults()[pri:0, instance:com.stta.SuiteSCM.SuiteSCMCaseOne@298508]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@25997031</td>   <td></td> </tr>
<tr bgcolor="90696e">  <td>15/05/22 09:14:55</td>   <td>100344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteSCMCaseOne.reporterDataResults()[pri:0, instance:com.stta.SuiteSCM.SuiteSCMCaseOne@298508]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@25997031</td>   <td></td> </tr>
<tr bgcolor="90696e">  <td>15/05/22 09:15:43</td>   <td>149134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteSCMCaseOne.reporterDataResults()[pri:0, instance:com.stta.SuiteSCM.SuiteSCMCaseOne@298508]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@25997031</td>   <td></td> </tr>
</table>
