<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuiteOne</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e785aa">  <td>14/12/18 17:19:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteSCMCaseOne.SuiteOneCaseOneTest(java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteSCM.SuiteSCMCaseOne@40a47f]">SuiteOneCaseOneTest</td> 
  <td>main@20299219</td>   <td></td> </tr>
<tr bgcolor="e785aa">  <td>14/12/18 17:20:04</td>   <td>13887</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteSCMCaseOne.SuiteOneCaseOneTest(java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteSCM.SuiteSCMCaseOne@40a47f]">SuiteOneCaseOneTest</td> 
  <td>main@20299219</td>   <td></td> </tr>
<tr bgcolor="e785aa">  <td>14/12/18 17:20:06</td>   <td>16615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteSCMCaseOne.SuiteOneCaseOneTest(java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteSCM.SuiteSCMCaseOne@40a47f]">SuiteOneCaseOneTest</td> 
  <td>main@20299219</td>   <td></td> </tr>
<tr bgcolor="e785aa">  <td>14/12/18 17:20:13</td>   <td>23002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteSCMCaseOne.SuiteOneCaseOneTest(java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteSCM.SuiteSCMCaseOne@40a47f]">SuiteOneCaseOneTest</td> 
  <td>main@20299219</td>   <td></td> </tr>
<tr bgcolor="e785aa">  <td>14/12/18 17:19:50</td>   <td>-20</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteSCMCaseOne.checkCaseToRun()[pri:0, instance:com.stta.SuiteSCM.SuiteSCMCaseOne@40a47f]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20299219</td>   <td></td> </tr>
<tr bgcolor="a6b7bb">  <td>14/12/18 17:19:49</td>   <td>-541</td> <td title="&gt;&gt;SuiteOneBase.checkSuiteToRun()[pri:0, instance:com.stta.SuiteOne.SuiteOneCaseTwo@f30093]">&gt;&gt;checkSuiteToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20299219</td>   <td></td> </tr>
<tr bgcolor="7894eb">  <td>14/12/18 17:19:50</td>   <td>-97</td> <td title="&gt;&gt;SuiteTwoBase.checkSuiteToRun()[pri:0, instance:com.stta.SuiteTwo.SuiteTwoCaseTwo@1a99295]">&gt;&gt;checkSuiteToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20299219</td>   <td></td> </tr>
<tr bgcolor="f899e9">  <td>14/12/18 17:19:50</td>   <td>-41</td> <td title="&gt;&gt;LoginSCMbase.checkSuiteToRun()[pri:0, instance:com.stta.SuiteSCM.SuiteSCMCaseOne@40a47f]">&gt;&gt;checkSuiteToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20299219</td>   <td></td> </tr>
<tr bgcolor="e785aa">  <td>14/12/18 17:20:13</td>   <td>23006</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteSCMCaseOne.closeBrowser()[pri:0, instance:com.stta.SuiteSCM.SuiteSCMCaseOne@40a47f]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@20299219</td>   <td></td> </tr>
<tr bgcolor="e785aa">  <td>14/12/18 17:20:04</td>   <td>13884</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteSCMCaseOne.reporterDataResults()[pri:0, instance:com.stta.SuiteSCM.SuiteSCMCaseOne@40a47f]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@20299219</td>   <td></td> </tr>
<tr bgcolor="e785aa">  <td>14/12/18 17:20:06</td>   <td>16612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteSCMCaseOne.reporterDataResults()[pri:0, instance:com.stta.SuiteSCM.SuiteSCMCaseOne@40a47f]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@20299219</td>   <td></td> </tr>
<tr bgcolor="e785aa">  <td>14/12/18 17:20:13</td>   <td>22999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteSCMCaseOne.reporterDataResults()[pri:0, instance:com.stta.SuiteSCM.SuiteSCMCaseOne@40a47f]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@20299219</td>   <td></td> </tr>
<tr bgcolor="e785aa">  <td>14/12/18 17:20:13</td>   <td>23003</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteSCMCaseOne.reporterDataResults()[pri:0, instance:com.stta.SuiteSCM.SuiteSCMCaseOne@40a47f]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@20299219</td>   <td></td> </tr>
</table>
