<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e0a07f">  <td>19/07/09 17:06:12</td>   <td>0</td> <td title="&gt;&gt;appium_init.setUp()[pri:0, instance:test_case.Login_test@6ea6d14e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@453211571</td>   <td></td> </tr>
<tr bgcolor="ccd57b">  <td>19/07/09 17:06:34</td>   <td>21656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login_test.pageObject()[pri:0, instance:test_case.Login_test@6ea6d14e]">pageObject</td> 
  <td>main@453211571</td>   <td></td> </tr>
</table>
