<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b9b78d">  <td>16/03/10 10:13:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login_Test.afterMethod()[pri:0, instance:Test_Case.Login_Test@442c282]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1669853963</td>   <td></td> </tr>
<tr bgcolor="b9b78d">  <td>16/03/10 10:13:09</td>   <td>-28566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login_Test.beforeMethod()[pri:0, instance:Test_Case.Login_Test@442c282]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1669853963</td>   <td></td> </tr>
<tr bgcolor="b9b78d">  <td>16/03/10 10:13:29</td>   <td>-8232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login_Test.f()[pri:0, instance:Test_Case.Login_Test@442c282]">f</td> 
  <td>main@1669853963</td>   <td></td> </tr>
</table>
