<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuiteOne</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c48976">  <td>18/08/07 15:18:05</td>   <td>0</td> <td title="&gt;&gt;appium_init.setUp()[pri:0, instance:test_case.Login_test@23223dd8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@93122545</td>   <td></td> </tr>
<tr bgcolor="6481f5">  <td>18/08/07 15:18:21</td>   <td>15745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login_test.pageObject()[pri:0, instance:test_case.Login_test@23223dd8]">pageObject</td> 
  <td>main@93122545</td>   <td></td> </tr>
</table>
