<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>TestCase.Case_Telesale</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Case_12</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Case_9</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Case_11</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Case_10</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeUp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>setDown</td>
<td>&nbsp;</td></tr>
</table>
