<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b8cdc7">  <td>16/05/26 08:30:01</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;run_grid.Setup()[pri:0, instance:TestCase.Case_Telesale@44db13b1]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@791781550</td>   <td></td> </tr>
<tr bgcolor="c5ba87">  <td>16/05/26 08:30:10</td>   <td>8911</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Case_Telesale.setUp()[pri:0, instance:TestCase.Case_Telesale@44db13b1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@791781550</td>   <td></td> </tr>
<tr bgcolor="c5ba87">  <td>16/05/26 08:30:11</td>   <td>10221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Case_Telesale.Case_12()[pri:0, instance:TestCase.Case_Telesale@44db13b1]">Case_12</td> 
  <td>main@791781550</td>   <td></td> </tr>
<tr bgcolor="c5ba87">  <td>16/05/26 09:14:28</td>   <td>2667367</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Case_Telesale.closeUp()[pri:0, instance:TestCase.Case_Telesale@44db13b1]">&lt;&lt;closeUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@791781550</td>   <td></td> </tr>
<tr bgcolor="c5ba87">  <td>16/05/26 09:14:28</td>   <td>2667367</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Case_Telesale.setDown()[pri:0, instance:TestCase.Case_Telesale@44db13b1]">&lt;&lt;setDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@791781550</td>   <td></td> </tr>
</table>
