<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a0fbf0">  <td>16/03/09 17:22:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login_Test.beforeMethod()[pri:0, instance:Test_Case.Login_Test@5dfeaee5]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1002799575</td>   <td></td> </tr>
<tr bgcolor="a0fbf0">  <td>16/03/09 17:23:01</td>   <td>8627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login_Test.f()[pri:0, instance:Test_Case.Login_Test@5dfeaee5]">f</td> 
  <td>main@1002799575</td>   <td></td> </tr>
<tr bgcolor="a0fbf0">  <td>16/03/09 17:23:02</td>   <td>9735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Login_Test.afterMethod()[pri:0, instance:Test_Case.Login_Test@5dfeaee5]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1002799575</td>   <td></td> </tr>
</table>
