<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Parallel test runs</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9168b4">  <td>16/06/20 10:26:14</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;run_grid.Setup()[pri:0, instance:TestCase.Case_Telesale@ae9ecc8]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2051927438</td>   <td></td> </tr>
<tr bgcolor="abedf1">  <td>16/06/20 10:26:23</td>   <td>9459</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Case_Telesale.setUp()[pri:0, instance:TestCase.Case_Telesale@ae9ecc8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2051927438</td>   <td></td> </tr>
<tr bgcolor="abedf1">  <td>16/06/20 10:26:26</td>   <td>12420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Case_Telesale.Case_12()[pri:0, instance:TestCase.Case_Telesale@ae9ecc8]">Case_12</td> 
  <td>TestNG@2051927438</td>   <td></td> </tr>
<tr bgcolor="abedf1">  <td>16/06/20 10:26:43</td>   <td>29145</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Case_Telesale.closeUp()[pri:0, instance:TestCase.Case_Telesale@ae9ecc8]">&lt;&lt;closeUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2051927438</td>   <td></td> </tr>
<tr bgcolor="abedf1">  <td>16/06/20 10:26:43</td>   <td>29145</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Case_Telesale.setDown()[pri:0, instance:TestCase.Case_Telesale@ae9ecc8]">&lt;&lt;setDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@2051927438</td>   <td></td> </tr>
</table>
