<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Default suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66bc63">  <td>18/08/07 08:49:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login_test.setUp()[pri:0, instance:test_case.Login_test@649d209a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114889273</td>   <td></td> </tr>
<tr bgcolor="66bc63">  <td>18/08/07 08:49:34</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login_test.pageObject()[pri:0, instance:test_case.Login_test@649d209a]">pageObject</td> 
  <td>main@2114889273</td>   <td></td> </tr>
<tr bgcolor="71cca7">  <td>18/08/07 08:49:34</td>   <td>54</td> <td>&nbsp;</td><td title="&lt;&lt;appium_init.tearDown()[pri:0, instance:test_case.Login_test@649d209a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114889273</td>   <td></td> </tr>
<tr bgcolor="66bc63">  <td>18/08/07 08:49:34</td>   <td>142</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Login_test.setUp()[pri:0, instance:test_case.Login_test@c818063]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114889273</td>   <td></td> </tr>
<tr bgcolor="66bc63">  <td>18/08/07 08:49:34</td>   <td>143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login_test.pageObject()[pri:0, instance:test_case.Login_test@c818063]">pageObject</td> 
  <td>main@2114889273</td>   <td></td> </tr>
<tr bgcolor="71cca7">  <td>18/08/07 08:49:34</td>   <td>151</td> <td>&nbsp;</td><td title="&lt;&lt;appium_init.tearDown()[pri:0, instance:test_case.Login_test@c818063]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2114889273</td>   <td></td> </tr>
</table>
